@import "../../styles/partials/mixins.scss";
@import "../../styles/partials/variables.scss";

.hero {
  display: flex;
  justify-content: center;
  align-items: center;

  background-image: url("https://media.giphy.com/media/hugQmENCWTyPM3yG5D/giphy-downsized-large.gif");
  background-size: cover;
  height: 50rem;

  &__thumbnail {
    width: 1500px;
    aspect-ratio: 16/9;
  }

  &__align-container {
    align-self: flex-start;
  }

  &__title {
    color: white;
    font-size: $desktop-title;
  }

  &__title-container {
    padding-left: 12rem;
  }

  &__links-container {
    display: flex;
    flex-direction: column;
    gap: 2rem;
    padding-top: 2rem;

    font-size: $mobile-page-header;
  }
}
