@use "../../styles/partials/mixins" as *;

.splash-screen {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 0.5rem;
  padding: 2rem 6rem;
  height: 100vh;

  &__container {
    display: flex;
    justify-content: center;
    align-items: flex-end;
    gap: 0.5rem;
  }
}
