@import "../../styles/partials/mixins.scss";
@import "../../styles/partials/variables.scss";
.card {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  background-color: $purple;
  border-radius: 1rem;
  width: 100%;
  margin: 1rem;
  &__title {
    padding: 1rem 0;
    margin-left: 1rem;

    @include tablet {
      margin-left: 2rem;
    }

    @include desktop {
      align-self: center;
    }
  }

  &__description {
    text-align: justify;
    margin: 0 1rem;
    padding-bottom: 1rem;

    @include tablet {
      margin: 0 2rem;
    }
    @include desktop {
      margin: 0 9rem;
      margin-top: 2rem;
    }
  }

  &__stack-container {
    margin: 0 1rem;

    @include tablet {
      margin: 0 2rem;
    }

    @include desktop {
      margin: 0 9rem;
    }
  }

  &__stack-title {
    padding-bottom: 0.5rem;
  }

  &__button-link {
    width: 200px;
    margin: 1rem 2rem;
    padding: 0.5rem;
    background-color: white;
    color: black;
    border: none;
    border-radius: 20px;
    font-weight: 600;
    cursor: pointer;

    @include desktop {
      margin: 2rem 9rem;
    }
  }
}
